{% extends 'index.html' %}

{% block content %}
<div class="form w-100" id="formPredictAttendance">
  <h2>Predict Attendance</h2>
  <form>
    <fieldset>
      <div class="mb-3">
        <label for="attendanceMonth" class="form-label">Select Month</label>
        <select id="attendanceMonth" class="form-select">
          {% for month in months %}
          <option value="{{ month }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="attendanceYear" class="form-label">Select Year</label>
        <select id="attendanceYear" class="form-select">
          {% for year in years %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-outline-success" type="button" onclick="postAttendanceData()">predict</button>
    </fieldset>
  </form>
  <div class="attendanceOutput bg-success bg-opacity-10 border border-success border-4 rounded text-center text-white mt-3" style="width: 250px; height: 50px; font-size: 30px;">
    0
  </div>
</div>
{% endblock %}