<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>ChurchML</title>
    <style>
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .loading {
        color: white;
        font-size: 24px;
      }
    </style>

  </head>
  <body>
    <div id="overlay" class="overlay" style="display:none;">
      <div class="loading">Loading...</div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div>
            <div id="content">
              {% block content %}
              <h1>ChurchML Prediction App</h1>
              <div class="row">
                <div class="col">
                  <a href="{{ url_for('attendance') }}" class="btn btn-primary my-4 w-100">Predict Attendance</a>
                </div>
                <div class="col">
                  <a href="{{ url_for('income') }}" class="btn btn-primary my-4 w-100">Predict Income</a>
                </div>
              </div>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      function showForm(formId) {
        // Hide all forms
        document.querySelectorAll('div.form').forEach(function(form) {
          form.style.display = 'none';
        });
    
        // Show the selected form
        document.getElementById(formId).style.display = 'block';
      }

      function postIncomeData() {
        const overlay = document.getElementById('overlay');
        overlay.style.display = 'flex';
        let month = document.getElementById('incomeMonth').value;
        let year = document.getElementById('incomeYear').value;
        let data = {
          month: month,
          year: year
        };
    
        let apiUrl = "{{ url_for('predict_income') }}";
    
        fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          let output = document.getElementsByClassName("incomeOutput")[0];
          output.innerText = data.value;
        })
        .catch(error => {
          console.error('Error:', error);
        })
        .finally(() => {
          overlay.style.display = 'none';
        });
      }

      function postAttendanceData() {
        const overlay = document.getElementById('overlay');
        overlay.style.display = 'flex';
        let month = document.getElementById('attendanceMonth').value;
        let year = document.getElementById('attendanceYear').value;
        let data = {
          month: month,
          year: year
        };
    
        let apiUrl = "{{ url_for('predict_attendance') }}";
    
        fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          let output = document.getElementsByClassName("attendanceOutput")[0];
          output.innerText = data.value;
        })
        .catch(error => {
          console.error('Error:', error);
        })
        .finally(() => {
          overlay.style.display = 'none';
        });
      }
    </script>
  </body>
</html>